.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(67, 67, 67);
}

.card {
  background-color: rgb(125, 125, 125);
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
